@font-face {
    font-family: 'Neue Regrade';
    src: url('../fonts/Neue Regrade Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('../fonts/Neue Regrade Bold.otf') format('opentype'); 
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('../fonts/Neue Regrade Italic.otf') format('opentype'); 
    font-weight: normal;
    font-style: italic; 
}

/* Reset some basic elements */
body, h1, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: 'Neue Regrade', sans-serif;
    background-color: #000;
    color: white;
    text-align: center;
    align-items: center;
    min-height: 100vh; 
    padding: 50px 0;
}

/* Container for boxes */
.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 90%;
    max-width: 400px;
    margin: 0 auto; 
}

/* Container for the header content */
.header-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
    width: 100%; 
    max-width: 50%;
}

h1 {
    font-size: 2.6em;
    font-weight: normal;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    text-align: left; 
}

.logo {
    order: 2;
    height: 80px;
    width: 100px;
    max-width: auto;
    margin-top: 60px;
}


.intro-text {
    text-align: left;
    margin-top: 0;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: black; 
    transition: background-color 0.3s ease;
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
    width: 100%; 
    max-width: 300px;
}

.button:hover {
    background-color: #fafafa37; 
}

/* Basic box styling */
.box {
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
}

/* Large box styles */
.large-box {
    background-color: #eb7a53;
    font: italic bold 24px 'Neue Regrade', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    margin: 0 auto; 
    margin-top: 10px;
    max-width: 70%;
    width: 70%;
    height: 110px; 
    padding: 10px;
}

.yellow-box, .green-box {
    font: normal 18px 'Neue Regrade', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(50% - 5px);
    max-width: calc(50% - 5px);
    height: 110px;
    padding: 10px;
    margin-right: 10px; 
    margin-left: 0;
    box-sizing: border-box; 
    background-color: #ffda79; 
}

.yellow-box {
    background-color: #ffda79;
    margin-right: 0;
}

.green-box {
    background-color: #99d882;
    margin-right: 0;
}

.blue-box {
    font: normal 18px 'Neue Regrade', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #b4c3d7; 
    width: calc(50% - 5px); 
    height: 110px; 
    padding: 10px; 
    box-sizing: border-box;
    margin: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
    width: 70%; 
    margin: 0 auto; 
}


/* ------ about-us ------- */
.about-us-container {
    position: relative;
    background-color: #b4c3d7;
    color: #000;
    border-radius: 20px;
    padding: 20px; 
    margin: 10px auto;
    max-width: 500px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.about-us-container h1 {
    font-size: 2.6em; 
    font-weight: normal; 
    margin-bottom: 0.6em; 
    margin-top: 1.5em;
    text-align: left; 
}

/* Team member style adjustments for full-width layout */
.team-member img {
    display: block; 
    margin: 0 auto;
    width: 130px;
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    position: relative; 
    z-index: 1; 
}

/* Adjust the layout of the team member to stack vertically */
.team-member {
    position: relative;
    text-align: center;
    margin-bottom: 2em;
}

.team-member::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 230px; 
    height: 230px; 
    background-image: url('../images/star.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: -1;
}

.team-member h2 {
    font-size: 1.4em; 
    margin: 1.5em 0 0.2em; 
}

.team-member p {
    font-size: 1em; 
    margin: 0 0 1em; 
}

.back-button-about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 20px;
    left: 4px;
    padding: 10px;
    background-color: #b4c3d7; 
    color: #000000;
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; 
    z-index: 2; 
}

.back-button:hover {
    background-color: #b4c3d7; 
}


/* ------ contact-us ------- */
.contact-us-button {
    display: inline-block;
    cursor: pointer; 
    text-align: center; 
    margin: 20px;
}

.contact-us-button img {
    display: block; 
    width: auto;
    height: auto; 
    transition: transform 0.3s ease;
}

.contact-us-button:hover img {
    transform: scale(0.95); 
}

.contact-us-container {
    position: relative;
    background-color: #b4c3d7;
    border-radius: 20px; 
    padding: 20px; 
    margin: 10px auto;
    max-width: 500px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.contact-us-container h1 {
    font-size: 2.6em;
    font-weight: normal;
    margin-bottom: 0.6em;
    margin-top: 1.5em;
    color: #000; 
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none;
}

.contact-form textarea {
    height: 100px; 
    resize: vertical; 
}

.contact-form .submit-button {
    padding: 15px;
    background-color: #ffda79; 
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px; 
}

.contact-form .submit-button:hover {
    background-color: #e0c946;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

/* Responsive Design Adjustments */
@media (max-width: 600px) {

    .about-us-container {
        padding: 10px; 
    }
    
    .team-member img {
        width: 120px; 
        height: 120px;
    }
    
    .team-member:before {
        width: 200px; 
        height: 200px;
    }

    .logo {
        order: 2;
        height: 80px;
        width: 100px;
        max-width: auto;
        margin-top: 60px;
    }

    .yellow-box, .green-box {
        width: 50%; 
        margin-right: 0; 
    }
}

/* ------ favourites ------- */
.favourites-container {
    position: relative;
    background-color: #99d882; 
    color: #000; 
    border-radius: 20px; 
    padding: 20px; 
    margin: 10px auto; 
    max-width: 500px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.favourites-container h1 {
    font-size: 2.6em;
    font-weight: normal; 
    margin-bottom: 0.6em;
    margin-top: 1.5em; 
    text-align: left;
}

.back-button-favourites {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 20px; 
    left: 4px;
    padding: 10px;
    background-color: #99d882; 
    color: #000000; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    font-size: 16px; 
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s;
    z-index: 2; 
}


/* ------ inspirations ------- */
.inspirations-container {
    position: relative;
    background-color: #ffda79; 
    color: #000; 
    border-radius: 20px; 
    padding: 20px; 
    margin: 10px auto; 
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1;
    overflow: hidden; 
}

.inspirations-container h1 {
    font-size: 2.6em; 
    font-weight: normal; 
    margin-bottom: 0.6em; 
    margin-top: 1.5em; 
    text-align: left; 
}

.back-button-inspirations {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 20px; 
    left: 4px;
    padding: 10px;
    background-color: #ffda79; 
    color: #000000; 
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    font-size: 16px; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; 
    z-index: 2; 
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 10px;
    margin: -10px; 
}
  
.gallery-item {
    position: relative;
    width: calc(33.333% - 10px);
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #fff;
}

.image {
    width: 100%;
    height: 200px; 
    border-radius: 12px;
    object-fit: cover;
    display: block;
}
  
.gallery-item:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}

.star {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px; 
    color: #794d4d; 
    cursor: pointer;
    z-index: 10;
}
  
.star-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 24px; 
    color: #05050593; 
    cursor: pointer;
    z-index: 2;
    user-select: none; 
}

.star:hover {
    color: #ffd700; 
}

.star-icon.favorited {
    color: #ffbf00; 
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
  
/* Add Animation - Zoom in the Modal */
.modal-content {
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.filter-bar {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
    gap: 5px;
}

.filter-bar button {
    flex: 0 0 auto; 
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background: #F5AA66;
    border-radius: 20px;
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
}
  
.filter-bar button:hover,
.filter-bar button.active { 
    background-color: #EB7A53;
}

.filter-bar button:not(:hover):not(.active) {
    background-color: #F5AA66; 
}
  
.upload-bar {
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 10px; 
    gap: 5px; 
}

.upload-button {
    flex: 0 0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    background: #F5AA66; 
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #EB7A53; 
}

  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 600px) {
    .gallery-item {
        width: calc(50% - 10px); 
        max-height: 150px; 
    }
}
   

/* ------ creative mode ------- */
.creative-mode-container {
    position: relative;
    background-color: #eb7a53; 
    color: #000; 
    border-radius: 20px; 
    padding: 20px; 
    margin: 10px auto; 
    max-width: 500px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.creative-mode-container h1 {
    font-size: 2.6em; 
    font-weight: normal; 
    margin-bottom: 0.6em; 
    margin-top: 1.5em; 
    text-align: left; 
}

.back-button-creative-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 20px; 
    left: 4px;
    padding: 10px;
    background-color: #eb7a53; 
    color: #000000; 
    border-radius: 50%; 
    width: 40px;
    height: 40px; 
    font-size: 16px;
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s; 
    z-index: 2; 
}

.thumbnails-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    margin: 20px 0; 
}

.model-link {
    flex: 1; 
    max-width: 120px;
    margin: 5px; 
    text-align: center; 
    box-sizing: border-box; 
}

.model-option {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
}


.emmibutton {
    padding: 15px;
    background-color: #ffda79; 
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    color: #000; 
    cursor: pointer; 
    transition: background-color 0.2s; 
    margin-top: 10px; 
}

.emmibutton:hover {
    background-color: #e6c065; 
}

/* ------ 3D models ------- */
.model-option img {
    width: 100px; 
    cursor: pointer; 
}
#imageContainer {
    position: relative; 
}
.draggable-model {
    position: absolute; 
    width: 100px;
    cursor: move; 
}

#buddha, #table, #armchair {
    width: 120px;
    height: auto;
}
