/* Reset some basic elements */
body, h1, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Container for boxes */
.container {
    width: 90%;
    max-width: 400px;
}

/* Container for the header content */
.header-content {
    display: flex;
    align-items: center; /* This will vertically center the text with the image */
    justify-content: center; /* This will horizontally center the content */
}

.logo {
    height: 50px; /* Adjust the size as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the image and the text */
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 1em;
    /* No changes needed here unless you want to adjust the size or margins */
}

.button {
    border-radius: 12px; /* Rounded corners, adjust the pixel value as needed */
    padding: 20px; /* Padding inside the buttons, adjust as needed */
    margin: 10px 0; /* Space between buttons, adjust as needed */
    background-color: #684941; /* Default color, will be overridden by specific button styles */
    color: #000; /* Text color */
    font-weight: bold; /* Makes the text bold */
    text-align: center; /* Centers the text inside the button */
    cursor: pointer; /* Changes the mouse pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* You can add :hover styles for interactive effect when the mouse hovers over the buttons */
.button:hover {
    background-color: #fafafa37; /* Lighter shade for hover effect, adjust the color as needed */
}

/* Basic box styling */
.box {
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* Remove mobile browser tap highlight */
}

/* Large box styles */
.large-box {
    background-color: #eb7a53; /* Adjust the color to match the design */
}

/* Colored boxes */
.yellow-box {
    background-color: #ffda79;
}

.green-box {
    background-color: #99d882;
}

.blue-box {
    background-color: #b4c3d7;
}

/* Add responsiveness to layout */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .box {
        padding: 0.5em;
    }
}
